<div class="col-md-6 user-container">
  <h2 id="tableLabel">Empresas</h2>

  <p *ngIf="!Empresas"><em>Loading...</em></p>

  <button [routerLink]='["/NuevaEmpresa"]' class="btn btn-primary" style="width:150px"> Nueva Empresa</button>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Empresas">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of Empresas">
        <td>{{ empresa.id }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>
          <button [routerLink]='["/EditarEmpresa/" + empresa.id]' class="btn btn-primary">Editar</button>
          <button class="btn btn-danger" (click)="BorrarEmpresa(empresa)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
